<div class="modal fade" id="notif" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:80%;height:3%;">
                <!-- /.modal-content -->
                {{#each flashMessenger.alertsBeforeFlush}}
                    <div class="alert alert-{{this.type}} {{#if this.canBeDismissed}}alert-dismissible{{/if}}">
                        {{#if this.canBeDismissed}}
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{/if}}
                        <h4>
                            {{#if this.titleIcon}}
                                <i class="{{this.titleIcon}}"></i>
                            {{/if}}
                            {{this.title}}
                        </h4>
                        {{#if this.messages}}
                            <ol>
                                {{#each this.messages}}
                                    <li>{{this}}</li>
                                {{/each}}
                            </ol>
                        {{/if}}
                    </div>
                {{/each}}
            <!-- /.modal-dialog -->
      </div>
    </div>
        <!-- /.modal -->
        <script>
            $(function() {
                $('#notif').modal({
                    keyboard: true
                });
                // remove modal backdrop
                $('.modal-backdrop').removeClass("modal-backdrop");
            });
            function hide() {
                    $('#notif').modal('hide');
                }
                // hide backdrop after 2 sec
            setTimeout('hide()', 20000);
        </script>
