<div class="container-fluid">
  <div class="row vertical-align">
    <div class="col-1">
  <!--    Made by Erik Terwan    -->
  <!--   24th of November 2015   -->
  <!--        MIT License        -->
  <nav role="navigation">
    <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <<a href="/"><li>Home</li></a>
        <a href="/sessions"><li>Access ongoing boards</li></a>
        {{#if userContext}}
          <a href="/session/0"><li>Create a new session</li></a>
          <a href="/logout"><li>Log out</li></a>
        {{else}}
          <a href="/login"><li>Log in</li></a>
        {{/if}}
      </ul>
    </div>
  </nav>
</div>
<div class="col-11">
  <blockquote class="blockquote text-right">
    <p class="mb-0 lead">CollectId</p>
    {{#if userContext}}
      <footer class="blockquote-footer">Hi {{userContext.userinfo.given_name}}!</footer>
    {{else}}
      <footer class="blockquote-footer">Please <a href="/login">log in</a> or <a href="/register">register</a></footer>
    {{/if}}
  </blockquote>
</div>
</div>
</div>
