{{#contentFor 'pageStyles'}}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/menu.css" type="text/css" />
{{/contentFor}}

{{> menu}}

<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-8">
      <form method="post">
        {{#each fields}}
        <div class="form-group">
          <label>{{this.label}}</label>
          <input
            required
            name="{{this.name}}"
            type="{{this.type}}"
            class="form-control {{#if this.error}}is-invalid{{/if}}"
            value="{{this.value}}"
          />
          <div class="invalid-feedback">{{this.error}}</div>
        </div>
        {{/each}}
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </div>
</div>
