{{#contentFor 'pageStyles'}}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/menu.css" type="text/css" />
{{/contentFor}}

{{> menu}}
{{> flash}}
<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11">
      <h3>Active sessions</h3>
      <a href="/administration/deleteSessions">Delete all sessions</a>
      <ul>
      {{#each sessions}}
            <li>{{sessionName}}</li>
      {{/each}}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11">
      <h3>Active items</h3>
      <a href="/administration/deleteItems">Delete all items</a>
      <ul>
      {{#each items}}
            <li>{{itemTitle}}</li>
      {{/each}}
      </ul>
    </div>
  </div>
</div>
