{{#contentFor 'pageStyles'}}
  <link type="text/css" rel="stylesheet" href="/stylesheets/board.css"/>
  <link  href="//fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
{{/contentFor}}

<h3>{{sessionName}}</h3>
  <input type="button" value="Force refresh items" id="boke">
  <input type="hidden" id="sessionId" value="{{sessionId}}">
  <div class="board">
    <div class="tiles">
      <ul id="itemsContainer">
      </ul>
    </div>
  </div>


{{> client}}

{{#contentFor 'pageScripts'}}
  <script>
    $(document).ready(function() {
      getItems("{{sessionId}}");
    });
  </script>
{{/contentFor}}
