{{#contentFor 'pageStyles'}}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/menu.css" type="text/css" />
{{/contentFor}}

<!-- Menu placeholder -->
{{> menu}}
{{> flash}}
<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-8">
      {{#if userContext}}
        <form class="form-horizontal" action="/createsession/{{sessionId}}" method="post">
            <div class="modal-header">
                <strong>Add a new session</strong>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="Title">Title : </label>
                <input id="sessionName" name="sessionName" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="Public">Public : </label>
                <input id="sessionPublic" name="sessionPublic" type="checkbox" class="form-control"></input>
              </div>
              <div class="form-group">
                <label for="Public">Active : </label>
                <input id="sessionActive" name="sessionActive" type="checkbox" class="form-control"></input>
              </div>
              <div class="form-group">
                <label for="Data">Owner : </label>
                {{userContext.userinfo.name}}
              </div>
            </div>
            <div class="modal-footer">
              <input class="btn btn-default" type="submit" value="Save">
            </div>
        </form>
        {{else}}
          <h1>You have to log on to create a new session</h1>
        {{/if}}
    </div>
  </div>
</div>
