{{#contentFor 'pageStyles'}}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/menu.css" type="text/css" />
{{/contentFor}}

{{> menu}}
{{> flash}}

<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11">
      <h3>Active sessions</h3>
      {{#if sessions}}
        <ul>
          {{#each sessions}}
            <li><a href="/session/{{sessionId}}">{{sessionName}}</a></li>
          {{/each}}
        </ul>
      {{else}}
        <p>No session to display</p>
      {{/if}}

    </div>
  </div>
</div>
