{{#contentFor 'pageScripts'}}
    <script type="text/javascript" src="/js/rmodal.js"></script>
    <script type="text/javascript">
            window.onload = function() {
                var modal = new RModal(
                    document.getElementById('modal')
                    , {} );
                document.addEventListener('keydown', function(ev) {
                    modal.keydown(ev);
                }, false);
                document.getElementById('showModal')
                .addEventListener("click", function(ev) {
                    ev.preventDefault();
                    modal.open();
                }, false);
                window.modal = modal;
                //qrcode
                var typeNumber = 0;
                var errorCorrectionLevel = 'L';
                var qr = qrcode(typeNumber, errorCorrectionLevel);
                qr.addData(window.location.href);
                qr.make();
                document.getElementById('placeHolder').innerHTML = qr.createImgTag();
            }
    </script>
    <script type="text/javascript" src="/js/qrcode.js"></script>
{{/contentFor}}

{{#contentFor 'pageStyles'}}
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/menu.css" type="text/css" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/rmodal.css"/>
  <link rel="stylesheet" href="/stylesheets/animate.css" type="text/css" />
  <style type="text/css">
    .modal .modal-dialog {
      width: 400px;
    }
  </style>
{{/contentFor}}
<!-- Menu placeholder -->
{{> menu}}
{{> flash}}
<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11">
      <h2>Please provide this URL to participants</h2>
        <div id="placeHolder"></div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              {{#if session}}
              <form class="form-horizontal" method="post">
                <input name="sessionId" id="sessionId" type="hidden" value="{{session.sessionId}}">
                  <div class="modal-header">
                      <strong>Change session settings</strong>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <label for="Title">Title : </label>
                      <input id="sessionName" name="sessionName" type="text" value="{{session.sessionName}}" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="Public">Public : </label>
                      <input id="sessionPublic" name="sessionPublic" {{#if session.sessionPublic}} checked {{/if}} type="checkbox" class="form-control"></input>
                    </div>
                    <div class="form-group">
                      <label for="Public">Active : </label>
                      <input id="sessionActive" name="sessionActive" {{#if session.sessionActive}} checked {{/if}} type="checkbox" class="form-control"></input>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <input class="btn btn-default" type="submit" value="Save">
                  </div>
              </form>
              {{else}}
                <input name="sessionId" id="sessionId" type="hidden" value="{{sessionId}}">
              {{/if}}
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <a href="#" id="showModal" name="showModal" class="btn btn-success">Add a new item</a>
            </div>
          </div>
        </div>

        <div id="modal" class="modal">
            <div class="modal-dialog animated">
                <div class="modal-content">
                    <form class="form-horizontal" method="get">
                        <div class="modal-header">
                            <strong>Add a new item</strong>
                        </div>
                        <div class="modal-body">
                          <div class="form-group">
                            <label for="Title">Title : </label>
                            <input id="Title" name="Title" type="text" class="form-control">
                          </div>
                          <div class="form-group">
                            <label for="Data">Content : </label>
                            <textarea id="Data" name="Data" class="form-control" onfocus="this.placeholder = ''"
onblur="this.placeholder = 'Your content ...'" placeholder="enter your text"></textarea>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-default" type="button" onclick="modal.close();">Cancel</button>
                          <button id="poke" name="poke" class="btn btn-primary"
                            type="submit" onclick="modal.close();">
                              Send the item
                          </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
  </div>
</div>

{{> client}}
