.modal {
    display: none;
    background: rgba(0, 0, 0, .30);
    z-index: 999;
    padding: 30px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    overflow-x: hidden;
    overflow-y: auto;
}
.modal .modal-dialog {
    position: relative;
    width: 1100px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
            box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    background: #fff;
    margin: 0 auto;
}
