<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href='//fonts.googleapis.com/css?family=Montserrat+Alternates:700' rel='stylesheet' type='text/css'>
    {{{block "pageStyles"}}}
  </head>

  <body>
    <!-- Scripts placeholder -->
    {{> scripts}}
    {{> other}}

    <!-- Placeholder for page content. -->
    {{{body}}}

    <!-- PageScripts placeholder -->
    {{{block 'pageScripts'}}}

  </body>
</html>
